<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devours}}">
		{{#if devours}}devour{{else}}Devour{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
